/**
* My main CSS file
*/


* {
    margin: 0;
    padding: 0;

}

.container-fluid {
    margin: 0;
    padding: 0;
    margin-right: 0;
    padding-right: 0;
  
}


body {
  
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
 

    background-color: var(--color-white);
}

#backgroundimage {

    object-fit: cover;
    height: 586px;
    width: 100%;

}

.background {
    position: absolute;
    margin-top: -1%;
    width: 100vw;
    height: 972px;

    background-image: var(--color-gradient);
}

.topbar {
    width: 100vw;
    height: 36.5px;
    background-color: var(--color-topbar);
    position: relative;


}

.navigation {
    margin-left: 7%;
    width: 430px;
    margin-top: -1.5px;
}

#welkom {

    font-family: Bahnschrift Regular;
    font-size: 10.5pt;
    margin-left: -12%;
    margin-right: 7%;




}

#winkelwagen {

    font-family: Bahnschrift Regular;
    font-size: 12pt;
    color: var(--color-white);




}


.row.top {
    height: 36.5px;
}

#user {


    padding: 11px 15px 11px;
    margin-left: 6%;
    margin-right: 5%;
    border-left: solid 0.1pt black;
    border-right: solid 0.1pt black
}

#shoppingcart {
    position: relative;
    margin-left: 20px;
    height: 16px;
    width: 16px;
}

#l {
    color: var(--color-white)
}

h1 {


    font-family: bahnschrift regular;
    font-size: 48pt;
    font-weight: 100;
    color: var(--color-darkred);
 
    margin-top: 2%;
    margin-left: -10%;
    margin-bottom: -20%;
}

.searchbar {
    display: flex;
    align-items: center;
    margin-top: 100px;

    justify-content: flex-end;

}

#searchbar {
    text-align: center;
    outline: none;

    height: 33px;
    font-family: Calibri light;
    font-size: 20pt;
    position: absolute;
    border: solid 0.2pt var(--color-gray);
    border-radius: 3px;
    margin-left: -20px;


}

#searchicon {
    position: absolute;
    margin-left: -25px;



    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-left: solid 1pt var(--color-gray);

}



.selectionlink {

    justify-content: center;
    font-family: Bahnschrift Regular;
    text-decoration: none;
    color: var(--color-darkred);
    padding-right: 3.35%;
    font-size: 1.45vw;
    font-weight: 600;
}



.topselection {

    margin-top: 5%;
    width: 100%;

}

.border {
    border-bottom: solid 1pt var(--color-gray);
    width: 100%;
}

#sale {
    position: relative;
    color: white;
    font-family: Bahnschrift Regular;
    font-size: 1.40vw;
    text-decoration: none;


}

#klantenservice {
    position: relative;
    color: var(--color-beige);
    text-decoration: none;
    padding: 0.30%;
    background-color: white;
    font-family: Bahnschrift Regular;
    font-size: 1.40vw;
    margin-left: 2%;


}


.selectionpicture {
    width: 100%;
    height: 198px;
    text-align: center;

    margin-right: 20px;
    margin-bottom: 45px;
    margin-top: 45px;
}

.picturelink {
    width: 100%;
    height: 100%;
    border-radius: 4pt;
    object-fit: cover;

}



h2 {

    margin-top: -50px;
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: white;
    font-size: 2.5vw;



}

.bold {
    font-family: acumin-pro, sans-serif;
    font-style: bold;
    color: white;
    font-weight: 700;
}

.main {
    height: 1300px;
}

h3 {
    margin-top: 40vh;
    font-family: Bahnschrift Regular;
    font-style: bold;
    text-align: center;
    font-size: 2.5vw;
    border-bottom: solid 1pt var(--color-gray);
    padding-bottom: 22px;
    margin-bottom: 122px;
    
}


.secondsection{
    margin-top: -4vh;
}

.voordelen2 {
    width: 100%;
    height: 100%;
    


}
.afbeeldingrechts{
    height: 100%;
}

.afbeeldinglinks{
    height: 100%;
}



.p2 {
    font-family: Bahnschrift Regular;
    font-size: 125%;
    font-style: bold;
    font-weight: 600;

}

.p3 {

    font-family: Bahnschrift Regular;
    font-size: 100%;
    font-style: bold;
    font-weight: 800;

}

#geldterug {
    font-family: bahnschrift Regular;
    font-size: 112%;
    font-weight: 100;
}

.rechts {
    text-align: center;


}

.links {
    text-align: center;
}

footer {
    height: 467px;
    width: 100vw;
    background-color: var(--color-topbar);
    position: relative;
}

li {
    list-style-type: none;
    font-family: calibri regular;
    font-size: 16px;
    font-weight: 200;
}


h4 {
    font-family: Bahnschrift condensed;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 50px;

}

.p4 {

    font-family: calibri regular;
    font-size: 16px;
    font-weight: 200;

}

.socialmedia {
    font-size: 25px;
}

.followus {
    text-align: center;
}

.social {
    margin-bottom: -10px;
}

#nieuwsbrief {

    background-color: transparent;
    height: 31px;
    width: 176px;
    border: solid 0.2pt black;
    outline: none;
    position: absolute;
    font-family: calibri light;
    font-size: 14px;


}

#nieuwsbrief::placeholder {
    color: black;
    padding-left: 5px;
}



.chevronright {
    color: white;
    position: relative;
    margin-left: 150px;
    padding: 7.5px;
    background-color: black;
    width: 31px;
    text-align: center;
}


.nav-toggler {
    display: none;
}

/**
 *mediaquery's
 */



@media all and (max-width: 576px) {





    .background {
        width: 100vw;
        height: 896px;
     
        position: absolute;
    }

    header {
        width: 100%;
    }


    #backgroundimage {
        height: 40vw;
       
        position: absolute;
     width: 94.4%;
        margin-top: 120px;
        object-fit: cover;

    }

    .topbar {
        width: 100%;
        height: 119px;
        position: absolute;

    }

    .navigation {
        width: 100%;
        margin-left: 0%;
    }

    .searchbar {
        position: absolute;
        margin-top: 6%;
      
       
       
    }

    #searchbar {

        margin-top: 9vh;
     
     width: 100%;
     margin-left: 5%;


    }

    #searchicon {
        position: absolute;
        margin-top: 9vh;
        margin-left: 2%;

    }
    h1 {
        font-size: 25px;

        margin-top: 4.5vh;
        margin-left: -5vw;

    }

  

    .p1 {
        display: none;
    }

    #user {
        display: none;
    }
    #shoppingcart {
        position: relative;
        margin-left: 78%;
        font-size: 142.75%;
        margin-top: 35px;
    }






    /**
* hamburger icon
*/

.nav-toggler {
    display: inline-block;
    cursor: pointer;


}

.bar1,
.bar2,
.bar3 {

    width: 30px;
    height: 3px;

    background-color: black;
    margin: -65% 0;
    margin-left: 100%;
    margin-top: 80%;
    z-index: 1;
    position: relative;

    transition: 0.4s;

}

/* Rotate first bar */
.nav-toggler.toggled .bar1 {
    -webkit-transform: rotate(-45deg) translate(-1px, 9px);
    transform: rotate(-45deg) translate(-1px, 9px);
}

/* Fade out the second bar */
.nav-toggler.toggled .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.nav-toggler.toggled .bar3 {
    -webkit-transform: rotate(45deg) translate(-1px, -9px);
    transform: rotate(45deg) translate(-1 px, -9px);
}

.border {
    display: none;
}

.border.toggled {
    display: flex;
    position: fixed;
    margin-top: -40px;
    z-index: 1;
    background-color: var(--color-lightred);
    flex-direction: column;
    width: 310px;
    height: 812px;
    margin-left: -50px;
    border-bottom: none;




}

.selectionlink {
    margin-top: 15%;
    color: white;
    border-bottom: solid 0.4px var(--color-gray);
    font-size: 3.5vw;
    margin-left: 15px;
}

#sale {
    display: none;
}

#klantenservice {
    color: white;
    position: absolute;
    margin-top: 370px;
    margin-left: 15px;
    background-color: var(--color-darkred);
    padding: 5px;
    font-size: 3.25vw;
}

.arrow {
    transform: rotate(-90deg);
    display: inline-block;
}


 /**
  *main
*/



    .selectionpicture {
        margin-top: 0%;
        margin-left: -16%;
        text-align: center;
        
     
        margin-bottom: -10%;



    }
   

    .picturelink {
        width: 65%;
        height: 57%;
        position: absolute;
      

    }

  


    .midselection {
        width: 100%;
        height: 100%;
      

        margin-top: 70%;
        margin-left: -7%;
        justify-content: center;
        margin-bottom: -10vh;
    }

    #firstspan {
        padding-left: 25%;
    }

    .buitenlampen {
        margin-left: 50%;
    }
 
    h2 {
        
        margin-top: 10vh;
        position: relative;
      
        margin-left: 55%;
        font-size: 4.5vw;


    }

    h3 {
        font-size: 25px;
        margin-bottom: 0vh;
     
    }

    .secondsection {
        margin-top: -25vh;
    
    }


  
    .voordelen {
        width: 100%;
        margin-left: 0%;
        margin-top: 0vh;

    }

    .voordelen2 {
        width: 100%;
        height: 100%;
        margin-top: -2vh;


    }




    .afbeeldinglinks{
        margin-top: 10px;
    }
    .afbeeldingrechts{
        margin-top: 10px;
    }


    .p2 {
        font-size: 20px;
    }

    .p3 {
        margin-top: -15px;
        font-size: 18px;
    }



    #geldterug {
        font-size: 15px;
    }

    footer {
        position: absolute;
        width: 100vw;
        margin-top: 10%;
        height: 110vh;
    }

    .foot {
        width: 100vw;
        margin-left: 1px;
        height: 90vh;
    }

    .overons {
        border-top: none;
        margin-top: -4px;
    }

    h4 {
        margin-top: 60px;
        padding-top: 15px;
        border-top: solid 0.5pt var(--color-gray);
    }

    li {
        font-size: 15px;
    }

    #nieuwsbrief {
        margin-top: -25px;

    }

    .chevronright {
        position: absolute;

        margin-top: -25px;

    }

    .informatie {
        margin-top: -25px;

    }

    .followus {
        margin-top: -20px;
        margin-left: 10px;

    }

    .social {
        border-top: none;
    }

}