/**
* My main CSS file
*/


* {
    margin: 0;
    padding: 0;

}

.container-fluid {
    margin: 0;
    padding: 0;
    margin-right: 0;
    padding-right: 0;

}


body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    background-color: var(--color-white);

}


.background {
    position: absolute;
    margin-top: -1%;
    width: 100vw;


    background-image: var(--color-gradient);
    height: 1074px;
    z-index: -1;
}

.topbar {
    width: 100vw;
    height: 36.5px;
    background-color: var(--color-topbar);
    position: relative;


}

.navigation {
    margin-left: 7%;
    width: 430px;
}

#welkom {

    font-family: Bahnschrift Regular;
    font-size: 10.5pt;
    margin-left: -12%;
    margin-right: 7%;




}

#winkelwagen {

    font-family: Bahnschrift Regular;
    font-size: 12pt;
    color: var(--color-white);




}


.row.top {
    height: 36.5px;
}

#user {


    padding: 11px 15px 11px;
    margin-left: 6%;
    margin-right: 5%;
    border-left: solid 0.1pt black;
    border-right: solid 0.1pt black
}

#shoppingcart {
    position: relative;
    margin-left: 20px;
    height: 16px;
    width: 16px;
}

#l {
    color: var(--color-white)
}

h1 {


    font-family: bahnschrift regular;
    font-size: 48pt;
    font-weight: 100;
    color: var(--color-darkred);

    margin-top: 2%;
    margin-left: -10%;
    margin-bottom: -20%;
}

.searchbar {
    display: flex;
    align-items: center;
    margin-top: 100px;

    justify-content: flex-end;

}

#searchbar {
    text-align: center;
    outline: none;

    height: 33px;
    font-family: Calibri light;
    font-size: 20pt;
    position: absolute;
    border: solid 0.2pt var(--color-gray);
    border-radius: 3px;
    margin-left: -20px;


}

#searchicon {
    position: absolute;
    margin-left: -25px;



    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-left: solid 1pt var(--color-gray);

}



.selectionlink {

    justify-content: center;
    font-family: Bahnschrift Regular;
    text-decoration: none;
    color: var(--color-darkred);
    padding-right: 3.35%;
    font-size: 1.45vw;
    font-weight: 600;
}



.topselection {

    margin-top: 5%;
    width: 100%;

}

.border {
    border-bottom: solid 1pt var(--color-gray);
    width: 100%;
}

#sale {
    position: relative;
    color: white;
    font-family: Bahnschrift Regular;
    font-size: 1.40vw;
    text-decoration: none;


}

#klantenservice {
    position: relative;
    color: var(--color-beige);
    text-decoration: none;
    padding: 0.30%;
    background-color: white;
    font-family: Bahnschrift Regular;
    font-size: 1.40vw;
    margin-left: 2%;


}

/**
  *main
**/

.topmain {
    margin-top: 52px;
    margin-bottom: 46px;
   
}

#terug {
    padding: 8px 22px;
    background-color: var(--color-darkred);
    border-radius: 7px;
    text-decoration: none;
    font-family: calibri light;
    font-size: 18px;
    color: white;
    font-weight: 550;
    margin-right: 2vw;

}

.path {
    font-family: calibri;
    color: var(--color-lightergray);
    text-decoration: none;
    font-size: 15px;
}
#pathproduct{
    font-size: 14px;
}
.arrowright{
 margin-left: 0.5vw;

}

.trace {
    display: inline;
    margin-left: -1.5vw;
}

.titel {
    font-family: bahnschrift;
    font-weight: 600;
    font-size: 1.5vw;
    color: black;
    margin-bottom: 15px;
}

#klantenrecensies {
    display: inline;
    font-family: calibri;
    font-size: 13px;
    margin-left: 0.75vw;
    color: var(--color-lightergray);
}

.feedback {
    margin-bottom: 26px;
}

.rate {
    color: var(--color-yellow);
    font-size: 14px;

}

.allpics {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#hoofdafbeelding {
    height: 546px;

    width: 100%;
    object-fit: cover;
}

.picturecontainer {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;

}

.bottompictures {
    width: 5vw;
    height: 11vh;
    position: relative;
    margin-bottom: 20%;
    box-shadow: 3px 3px 5px black;



}

.side {

    margin-top: 45px;
}

h5 {
    font-family: Bahnschrift;
    font-size: 35px;
    color: var(--color-darkred);
}

#beschikbaarheid {
    font-family: bahnschrift;
    font-size: 15px;
    color: var(--color-lightergray);
    margin-top: 50px;
}


#opvoorraad {
    font-family: bahnschrift;
    font-size: 16.5px;
    color: var(--color-darkred);
    font-weight: 500;

}

#vandaagbesteld {
    font-family: bahnschrift;
    color: var(--color-topbar);
    font-size: 13.5px;
    margin-bottom: 5px;

}

#cartnumber {
    width: 5vw;
    height: 5vh;
    border: solid 0.2px var(--color-gray);
    border-radius: 2px;
    font-family: bahnschrift;
    font-size: 24px;
    text-align: center;
}

.winkelwagenbutton {
    padding: 1.6% 3% 1.6% 3%;
    color: white;
    background-color: var(--color-topbar);
    margin-left: 0.5vw;
    border-radius: 4px;
    font-family: bahnschrift;
    font-weight: 400;
    text-decoration: none;
    font-size: 22px;

}

.mariocart {
    margin-left: 3vw;
    color: white;
    font-size: 18px;
}

#btw {
    margin-top: 15px;
    font-family: calibri;
    font-size: 13px;
    color: var(--color-lightergray);
}

.information {
    margin-top: 128px;
}

.h7 {
    font-family: Bahnschrift;
    font-weight: 500;
    font-size: 30px;
    color: black;
}

.productdescription {
    margin-top: 48px;
    font-family: calibri;
    font-size: 16px;
    color: black;
}

.productspecificationbold {
    margin-top: 48px;
    font-family: bahnschrift;
    font-size: 16px;
    font-weight: 500;
    color: black;
    line-height: 30px;
}

.productspecification {
    margin-top: 48px;
    font-family: calibri;
    font-style: light;
    font-size: 16px;
    color: black;
    line-height: 30px;

}

h3 {
    margin-top: 40vh;
    font-family: Bahnschrift Regular;
    font-style: bold;
    text-align: center;
    font-size: 2.5vw;
    border-bottom: solid 1pt var(--color-gray);
    padding-bottom: 22px;
    margin-bottom: 122px;

}

.second {
    margin-top: -23vh;
    margin-bottom: 110px;
}


.secondsection {
    margin-top: -4vh;
    position: static;
}

.voordelen2 {
    width: 100%;
    height: 100%;



}

.afbeeldingrechts {
    height: 100%;
}

.afbeeldinglinks {
    height: 100%;
}



.p2 {
    font-family: Bahnschrift Regular;
    font-size: 125%;
    font-style: bold;
    font-weight: 600;

}

.p3 {

    font-family: Bahnschrift Regular;
    font-size: 100%;
    font-style: bold;
    font-weight: 800;

}

#geldterug {
    font-family: bahnschrift Regular;
    font-size: 112%;
    font-weight: 100;
}

.rechts {
    text-align: center;


}

.links {
    text-align: center;
}



/**
  *footer
**/


footer {
    height: 467px;
    width: 100vw;
    background-color: var(--color-topbar);
}

li {
    list-style-type: none;
    font-family: calibri regular;
    font-size: 16px;
    font-weight: 200;
}


h4 {
    font-family: Bahnschrift condensed;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 50px;

}

.p4 {

    font-family: calibri regular;
    font-size: 16px;
    font-weight: 200;

}

.socialmedia {
    font-size: 25px;
}

.followus {
    text-align: center;
}

.social {
    margin-bottom: -10px;
}

#nieuwsbrief {

    background-color: transparent;
    height: 31px;
    width: 176px;
    border: solid 0.2pt black;
    outline: none;
    position: absolute;
    font-family: calibri light;
    font-size: 14px;


}

#nieuwsbrief::placeholder {
    color: black;
    padding-left: 5px;
}



.chevronright {
    color: white;
    position: relative;
    margin-left: 150px;
    padding: 7.5px;
    background-color: black;
    width: 31px;
    text-align: center;
}


.nav-toggler {
    display: none;
}

/**
 *mediaquery's
 */



@media all and (max-width: 576px) {





    .background {
        width: 100vw;
        height: 899px;

        position: absolute;
    }

    header {
        width: 100%;
    }





    .topbar {
        width: 100%;
        height: 119px;
        position: absolute;
        margin-top: 0px;

    }

    .navigation {
        width: 100%;
        margin-left: 0%;
    }

    .searchbar {
        position: absolute;
        margin-top: 6%;



    }

    #searchbar {

        margin-top: 9vh;

        width: 100%;
        margin-left: 5%;


    }

    #searchicon {
        position: absolute;
        margin-top: 9vh;
        margin-left: 2%;

    }

    h1 {
        font-size: 25px;

        margin-top: 4.5vh;
        margin-left: -5vw;

    }



    .p1 {
        display: none;
    }

    #user {
        display: none;
    }

    #shoppingcart {
        position: relative;
        margin-left: 78%;
        font-size: 142.75%;
        margin-top: 35px;
    }





    /**
* hamburger icon
*/

    .nav-toggler {
        display: inline-block;
        cursor: pointer;


    }

    .bar1,
    .bar2,
    .bar3 {

        width: 30px;
        height: 3px;

        background-color: black;
        margin: -65% 0;
        margin-left: 100%;
        margin-top: 80%;
        z-index: 1;
        position: relative;

        transition: 0.4s;

    }

    /* Rotate first bar */
    .nav-toggler.toggled .bar1 {
        -webkit-transform: rotate(-45deg) translate(-1px, 9px);
        transform: rotate(-45deg) translate(-1px, 9px);
    }

    /* Fade out the second bar */
    .nav-toggler.toggled .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    .nav-toggler.toggled .bar3 {
        -webkit-transform: rotate(45deg) translate(-1px, -9px);
        transform: rotate(45deg) translate(-1 px, -9px);
    }

    .border {
        display: none;
    }

    .border.toggled {
        display: flex;
        position: fixed;
        margin-top: -40px;
        z-index: 1;
        background-color: var(--color-lightred);
        flex-direction: column;
        width: 310px;
        height: 812px;
        margin-left: -50px;
        border-bottom: none;




    }

    .selectionlink {
        margin-top: 15%;
        color: white;
        border-bottom: solid 0.4px var(--color-gray);
        font-size: 3.5vw;
        margin-left: 15px;
    }

    #sale {
        display: none;
    }

    #klantenservice {
        color: white;
        position: absolute;
        margin-top: 370px;
        margin-left: 15px;
        background-color: var(--color-darkred);
        padding: 5px;
        font-size: 3.25vw;
    }

    .arrow {
        transform: rotate(-90deg);
        display: inline-block;
    }




    /**
  *main
*/

    .topmain {
        display: none;
    }

    .topsection {
        margin-top: 20vh;
    }

    h2 {
        font-size: 19px;
    }


    #hoofdafbeelding {
        height: 260px;
    }

    .bottompictures {
        width: 10vw;
        height: 38px;
    }

    #cartnumber {
        width: 75px;
    }


    .information {
        justify-content: center;
    }

    .specific {
        margin-top: 5vh;
    }

    h3 {
        font-size: 156.25%;
    }

    .secondsection {
        margin-top: -1vh;
    }

    .voordelen {
        width: 100%;
        margin-left: 0%;

    }

    .voordelen2 {
        width: 100%;
        height: 100%;
        margin-top: -2vh;


    }

    .afbeeldinglinks {
        margin-top: 10px;
    }

    .afbeeldingrechts {
        margin-top: 10px;
    }


    .p2 {
        font-size: 20px;
    }

    .p3 {
        margin-top: -15px;
        font-size: 18px;
    }



    #geldterug {
        font-size: 15px;
    }

    h3 {
        font-size: 25px;
        margin-bottom: 122px;
    }

    /**
  * footer
 **/



    footer {
        margin-top: 10%;
        height: 110vh;
    }

    .foot {
        margin-left: 1px;
        height: 90vh;
    }

    .overons {
        border-top: none;
        margin-top: -4px;
    }

    h4 {
        margin-top: 60px;
        padding-top: 15px;
        border-top: solid 0.5pt var(--color-gray);
    }

    li {
        font-size: 15px;
    }

    #nieuwsbrief {
        margin-top: -25px;

    }

    .chevronright {
        position: absolute;

        margin-top: -25px;

    }

    .informatie {
        margin-top: -25px;

    }

    .followus {
        margin-top: -20px;
        margin-left: 10px;

    }

    .social {
        border-top: none;
    }

}