/**
* Variables
*/
:root {
    --color-black: #000;
    --color-gradient: radial-gradient(#ffffff, #B58264);
    --color-gray: #707070;
    --color-topbar: #CA896D;
    --color-darkred: #581E1C;
    --color-white: #ffffff;
    --color-beige: #CAAB7D;
    --color-lightred: #D4A591;
    --color-lightergray: #7C7C7C;
    --color-darkergray: #4D4C4C;
    --color-noglichterrood: #D1B2A0;
    --color-yellow: #FAFF7D;
    
    /**fonts*/

}